<div id="framesettings">
  <form name="framesettings" class="form-inline" ng-repeat="frame in frames">

    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <label class="input-group-text">Enter {{frame.name}} Starting Number</label>
      </div>
      <input type="text" class="form-control" ng-model="frame.serial" placeholder="Starting number..." required>
    </div>

  </form>

  <button type="submit" form="framesettings" class="btn btn-primary btn-sm" style="margin-left: 10px" ng-click="saveFrames(frames)">Save Frames Settings</button>
</div>