<form class="form-inline">

  <div class="input-group mx-sm-3 mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text">Search By..</label>
    </div>
    <select class="custom-select" ng-model="searchBy">
      <option value="frameNumber">Frame Dynamic Number</option>
      <option value="frameType">Frame Name</option>
      <option value="shiftNumber">Shift Number</option>
      <option value="component">Component</option>
      <option value="status">Status</option>
    </select>
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <input type="text" ng-model="searchString" class="form-control" placeholder="Enter search string...">
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <input type="time" ng-model="searchStartTime" class="form-control" placeholder="Enter start time...">
  </div>
  <div class="form-group mx-sm-3 mb-2 text-white">
    to
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="time" ng-model="searchEndTime" class="form-control" placeholder="Enter end time...">
  </div>

  <button type="submit" class="btn btn-primary mx-sm-3 mb-2">Search</button>

  <button type="button" class="btn btn-primary mx-sm-3 mb-2" ng-click="downloadLogs()">Download</button>
</form>

<table class="table table-dark table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th width="300px" scope="col">Frame Dynamic Number</th>
      <th scope="col">Frame Name</th>
      <th scope="col">Component</th>
      <th scope="col">Shift Number</th>
      <th width="100px" scope="col">Status</th>
      <th width="200px" scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody ui-scroll-viewport>
    <tr ui-scroll="log in logsDatasource" ng-class="{ 'text-danger' : log.status != 'PRESENT'}" adapter="$parent.logsAdapter">
      <th scope="col">{{log.id}}</th>
      <td width="300px" ng-if="log.framenumber != '---'">{{getTime(log.timestamp) | date:'MM-dd-yyyy' }}-{{log.shiftnumber}}-{{log.framenumber}}</td>
      <td width="300px" ng-if="log.framenumber == '---'">{{log.framenumber}}</td>
      <td>{{log.frametype}}</td>
      <td>{{log.framecomponent}}</td>
      <td>{{log.shiftnumber}}</td>
      <td width="100px">{{log.status}}</td>
      <td width="200px">{{getTime(log.timestamp) | date:'MM/dd/yyyy HH:mm' }}</td>
    </tr>
  </tbody>
</table>