<form class="form-inline" ng-submit="searchLogs()">

  <div class="input-group mx-sm-3 mb-2 input-group-sm">
    <div class="input-group-prepend">
      <label class="input-group-text">Search By..</label>
    </div>
    <select class="custom-select custom-select-sm" ng-model="$parent.searchBy" required>
      <option value="frameDynamicCode">Frame Dynamic Number</option>
      <option value="frametype">Frame Name</option>
      <option value="shiftnumber">Shift Number</option>
      <option value="framecomponent">Component</option>
      <option value="status">Status</option>
    </select>
  </div>

  <div class="form-group mx-sm-3 mb-2 form-group-sm">
    <input type="text" ng-model="$parent.searchString" class="form-control form-control-sm" placeholder="Enter search text..." required>
  </div>

  <div class="form-group mx-sm-3 mb-2 text-white">
    From:
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="date" ng-model="$parent.searchStartTime" class="form-control form-control-sm" placeholder="Enter start time..." required>
  </div>
  <div class="form-group mx-sm-3 mb-2 text-white">
    To:
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="date" ng-model="$parent.searchEndTime" class="form-control form-control-sm" placeholder="Enter end time..." required>
  </div>

  <button type="submit" class="btn btn-primary mx-sm-3 mb-2 btn-sm">Search</button>

  <button type="button" class="btn btn-primary mx-sm-3 mb-2 btn-sm" ng-click="clear()">Clear</button>

  <button type="button" class="btn btn-primary mx-sm-3 mb-2 btn-sm" ng-click="downloadLogs()">Download</button>
</form>

<table class="table table-dark table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th width="100px" scope="col">Sr. No.</th>
      <th width="300px" scope="col">Frame Dynamic Number</th>
      <th scope="col">Frame Name</th>
      <th scope="col">Component</th>
      <th width="200px" scope="col">Shift Number</th>
      <th width="100px" scope="col">Status</th>
      <th width="200px" scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody ui-scroll-viewport >
    <tr ui-scroll="log in logsDatasource" ng-class="{ 'text-danger' : log.status != 'PRESENT'}" adapter="$parent.logsAdapter">
      <th width="100px" scope="col">{{log.id}}</th>
      <!-- <td width="300px" ng-if="log.framenumber != '---'">{{getTime(log.timestamp) | date:'MM-dd-yyyy' }}-{{log.shiftnumber}}-{{log.framenumber}}</td>
      <td width="300px" ng-if="log.framenumber == '---'">{{log.framenumber}}</td> -->
      <td width="300px">{{log.framedynamiccode}}</td>
      <td>{{log.frametype}}</td>
      <td>{{log.framecomponent}}</td>
      <td width="200px">{{log.shiftnumber}}</td>
      <td width="100px">{{log.status}}</td>
      <td width="200px">{{getTime(log.timestamp) | date:'MM/dd/yyyy HH:mm' }}</td>
    </tr>
  </tbody>
</table>